<div class="card text-white bg-info mb-3" style="width: 100%;">
    <div class="card-header">Starwars Routing Assign.</div>
    <div class="card-body">
      <h4 class="card-title">Eric Stanton</h4>
      <p class="card-text">A test of routing capability for the swapi call to angular routing.</p>
    </div>
    <nav class="nav nav-pills nav-justified">
      <a class="nav-item nav-link active" routerLink="/people-list" routerLinkActive="active">People</a>
      <a class="nav-item nav-link" routerLink="/planet-list" routerLinkActive="active">Planets</a>
      <a class="nav-item nav-link" routerLink="/ship-list" routerLinkActive="active">Ships</a>
    </nav>
  </div>